[submodule "tag-backend"]
	path = tag-backend
	url = https://github.com/corbin-poteet/tag-backend.git
[submodule "tag-frontend"]
	path = tag-frontend
	url = https://github.com/corbin-poteet/tag-frontend.git
